In [6]:
###if else
# buy a product or not
x= int(input('price'))
budget=1000
if (x<budget):
    print("Buy the product")
else:
    print("Do not buy")

price900
Buy the product

In [10]:
##if elif
x= int(input("enter the price"))
if (x<300):
    print("low price")
    if(x<150):
        print("category1 products")
    elif(x>150):
        print("category2 products")
    else:
        print("recommended products") # executes when the price is == equal to 150
else:
    print("expensive products")

enter the price150
low price
recommended products

In [15]:
num1= int(input("enter first number"))
num2= int(input("enter second number"))
task= int(input("enter math operation"))
if(task==1):
    addition=(num1+num2)
    print(addition)
elif(task==2):
    subtration=(num1-num2)
    print(subtration)
elif(task==3):
    multiplication=(num1*num2)
    print(multiplication)
elif(task==4):
    division=(num1//num2)
    print(division)
else:
    print("invalid input-choose from 1 to 4")

enter first number50
enter second number2
enter math operation4
25

In [16]:
count = 0
while(count<11):
    count = count + 1
    if(count%2 == 0):
        continue
    print(count)

1
3
5
7
9
11

In [18]:
print("priyanka")

priyanka

In [19]:
x = 10
while(x>=1):
    print(x)
    x -= 1

10
9
8
7
6
5
4
3
2
1

In [20]:
#  the odd one out in the list
profession=('se','Data analyst','developer','chef')
for i in profession:
    if (i=='chef'):
        continue
    print(i)

se
Data analyst
developer

# break
break keyword is used to break out of the loop or come out of the loop

In [1]:
# if count has reached 5 then break
count = 1
while(count<11):
    if(count == 5):
        print(count)
        break
    else:
        print(count)
        count = count + 1

1
2
3
4
5

For loops:
For loops are basically used to loop over a sequence.
Sequence can be anything like strings,Lists,Tuples,Dictionaries,Sets etc

In [ ]:
"""
syntax

for item in seq:
    statements....
"""

In [5]:
mybuddies=("tom","jerry","pal")   ## similar with list or eith string-- str="uyio"
for i in mybuddies:
    print(i)

tom
jerry
pal

range(start,stop,step):
The range() function is used to generate a sequence of numbers over time
# start = starting position (default value is 0)
# stop = end position(exclusive) (default value is end position)
# step = step size or increment size (default value is 1)

# range(10) -> 10 is the stop parameter
# range(1,10) -> 1 is start,10 is stop
# range(1,10,2) -> 1 is start,10 is stop,2 is step

In [6]:
# using continue in for loops
# say you dont want to print 4,5,6
for i in range(10):
    if(i==4 or i == 5 or i == 6):
        continue
    print(i)

0
1
2
3
7
8
9

pass:

pass keyword does nothing but you can avoid getting an error when empty code is not allowed. Empty code is not allowed in loops,if else conditions,functions,Classes etc