In [1]:
# create a list of lenght = 10 and access 5th to 8th data
grades= ['HD','D','C','P',10,20,30,40,50,60]
grades

['HD', 'D', 'C', 'P', 10, 20, 30, 40, 50, 60]

In [3]:
grades[5:9]

[20, 30, 40, 50]

In [5]:
#Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]

In [6]:
l1[2][2][1]

60

In [7]:
l1.insert(60,70)

In [20]:
l1 ## ignore as executed more than once (practise)

[10, 20, [30, 40, [50, 60, 70, 70, 70, 70], 80], 90, 100, 70]

In [21]:
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
l1

[10, 20, [30, 40, [50, 60], 80], 90, 100]

In [22]:
l1[2][2].append(70) # Adds item 70 after 60 
l1

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [26]:
#add sublist [7,8] after 6
#input
l2 = [1,2,[3,4,5,6],9]
l2.insert(3,[7,8])
l2

[1, 2, [3, 4, 5, 6], [7, 8], 9]

In [28]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [29]:
def sub(x,y,z):
    a= x-y-z
    print(a)

In [32]:
sub(50,30,20)

0

In [35]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [36]:
dict1['april_batch']['student']['name'] # to access "Mike"

'Mike'

In [37]:
dict1['april_batch']['student']['marks']

{'python': 80, 'maths': 70}

In [39]:
dict1['april_batch']['student']['marks']['python'] #access 80

80

In [49]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [50]:
dict1['april_batch']['student']['name']='Monica'  # change "Mike" to "Your name"
dict1

{'april_batch': {'student': {'name': 'Monica',
   'marks': {'python': 80, 'maths': 70}}}}

In [52]:
dict1['april_batch']['student']['marks']
dict1

{'april_batch': {'student': {'name': 'Monica',
   'marks': {'python': 80, 'maths': 70, ('ML', 'DL'): (80, 80)}}}}

In [55]:
dict1.popitem()
dict1

{}

In [57]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [58]:
dict1['april_batch']['student']['marks']
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [60]:
dict1['april_batch']['student']['marks']['ML']=80
dict1['april_batch']['student']['marks']['DL']=80  #add ML = 80 and DL = 80 inside marks
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

In [61]:
###Task6 - Add and remove the elements from a tuple. (Refer workaroud to modify the tuples)

buddies= ('tom','jerry',9)
all=list(buddies)    #convert the tuple buddies into a list named all
buddies

('tom', 'jerry', 9)

In [62]:
all

['tom', 'jerry', 9]

In [63]:
all[2]='scooby'     #modify the list using the concept of indexing as tuple doesnt include indexing
all

['tom', 'jerry', 'scooby']

In [64]:
buddies = tuple(all)  #convert the list back to tuple 
buddies

('tom', 'jerry', 'scooby')

In [66]:
all=list(buddies)    #convert the tuple buddies into a list named all
all

['tom', 'jerry', 'scooby']

In [67]:
all.remove('scooby')  #remove scooby 
all

['tom', 'jerry']

In [68]:
all.insert(1,'ross')  #adding ross after jerry
all

['tom', 'ross', 'jerry']

In [69]:
buddies=tuple(all) #converting back to tuple
buddies

('tom', 'ross', 'jerry')